<h1>My Trips</h1>
<%= link_to 'New Trip', new_trip_path %>
 
<br>
<br>
<table>
  <tr>
    <th>Title</th>
    <th>Starting Date</th>
    <th>Ending Date</th>
    <th></th>
  </tr>
 
  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.title %></td>
      <td><%= trip.start_date %></td>
      <td><%= trip.end_date %>
      <td><%= link_to 'Show', trip_path(trip) %></td>
    </tr>
  <% end %>
</table>