<h1>
      <td><%= @trip.title %></td>
</h1>
<h2>  
  <td><%= @trip.start_date.strftime('%B %d, %Y') %> to <%= @trip.end_date.strftime('%B %d, %Y') %></td>
</h2>


<%= link_to 'Edit Trip Overview', edit_trip_path(@trip) %><br>
<%= link_to 'See All Trips', controller: 'trips' %>

<h2>Events</h2>
<%= render @trip.trip_events %>


<h2>Add Event to Trip</h2>
<%= render 'trip_events/form' %>
