<tr>
      <td><%= @trip.title %></td><br>
      <td><%= @trip.start_date %></td><br>
      <td><%= @trip.end_date %>
</tr>

<h2>Events</h2>
<%= @trip.trip_events.each do |event| %>
  <p>
    <strong>Trip:</strong>
    <%= event.eventname %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= event.eventtime %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Journal Entry:</strong>
    <%= event.journal %>
  </p>
<% end %>
<h2>Add Event to Trip</h2>
<%= form_with(model: [@trip, @trip.trip_events.build ], local: true) do |form| %>
  <p>
    <%= form.label :event_name %><br>
    <%= form.text_field :eventname %>
  </p>

  <p>
    <%= form.label :event_time %><br>
    <%= form.datetime_field :eventtime %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :journal_entry %><br>
    <%= form.text_area :journal %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit Trip', edit_trip_path(@trip) %>
<%= link_to 'See All Trips', controller: 'trips' %>
