<%= form_with model: @user, local: true do |form| %>

    <p>
      <%= form.label :first_name %><br>
      <%= form.text_field :first_name %>
    </p>
  
    <p>
      <%= form.label :last_name %><br>
      <%= form.text_field :last_name %>
    </p>
  
    <p>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </p>

    <p>
    <%= form.label :password %><br>
    <%= form.password_field :password_digest %>
  </p>
  
    <p>
      <%= form.submit %>
    </p>
<% end %>